# Build results
bin/
obj/

# User-specific files
*.user
*.userosscache
*.suo

# Visual Studio
.vs/
*.vsidx

# Rider
.idea/

# Build logs
*.log
msbuild.log

# NuGet
packages/
*.nupkg

# Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Store
